@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb)); */
  background: linear-gradient(to bottom, transparent, rgb(255, 220, 226), rgb(194, 255, 255));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

bor1 {
  border: 2px solid cyan;
}
